.btn{
   border-radius: 100px !important;
   background-color: #121212 !important;
   color: white !important;
}
.btn-info:hover{
   background-color: rgba(0,0,255, 0.2);
   
} 

.btn-success:hover{
   background-color: rgba(0,128,0, 0.2);
   
} 

.btn-danger:hover{
   background-color: rgba(255,0,0, 0.2);
   
} 


.table{
   background-color: #121212 !important;
   color: white !important;
   width: 65% !important;
   margin-left: auto;
   margin-right: auto;
}

.container{
      padding: 2rem;
      background-color: #121212 !important;
      color: white !important;
      width: 50% !important;
      margin-bottom: 3.5rem !important;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
   
}